<app-navbar></app-navbar>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<hr> -->
<hr>
<h2 class="bg-secondary text-center p-3">Student Crud by using API firebase</h2>

<app-student-dashboard></app-student-dashboard>

<!-- subject -->
<hr>
<!-- <app-main></app-main> -->

<!-- crud -->

  <h2 class="bg-warning p-3 text-center">Todo Crud by i/p , o/p & subject</h2>

<app-todo-dashboard></app-todo-dashboard>

<hr>



<!-- <app-student-dashboard></app-student-dashboard> -->
